/FaceGram/nbproject/private/
/FaceGram/build/
/FaceGram/dist/
/FacegramEE/FacegramEE-ejb/dist/
/FacegramEE/FacegramEE-ejb/build/
/FacegramEE/FacegramEE-war/dist/
/FacegramEE/FacegramEE-war/build/
/FacegramEE/build/